# Virtual Environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# IDE/Editor specific
.vscode/
.idea/


*.pem

.DS_Store
_docs


_data

ceo.*

# Build artifacts
*.egg-info/

# Data folders
debug/
manuscripts/
마운자로 인기글/

# Scripts
run