annotated-types
anyio
click
fastapi
httptools
idna
jpype1
konlpy
lxml
numpy
packaging
pydantic
pydantic_core
python-dotenv
PyYAML
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
kss
pymongo
anthropic
openai
google-genai
Pillow
boto3
python-multipart
xai-sdk
requests
